/* to create coustuom variables use root tag and after that --white anedhi variable name to initilize variable name first -- ani type chesi next name type cheyyali */

:root {
   --white:white;
   --black:black;
   --blue:#0095f6;
   --grey:#262626;
   --light-grey:#a8a8a8;
}


/* oka good method enti ante default gah vunde properties anni html and body tag lo rayali css */
html,body{
   /* display lo elements side by side vacche laga help chestundhi */
   display: flex;
   flex-direction: row;
   /* scroll ela avvali ani cheptundhi  */
   scroll-behavior: smooth;
   /* good pratice enti ante minium 4 to 5 fonts vundali with order precedence  */
   font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont,  'Open Sans', 'Helvetica Neue', sans-serif;
   /* vw ante 100 percent of view port width ani meaning  */
   width: 100vw;
   /* vh ante 100 percent of view port height ani meaning  */
   height: 100vh;
   /* x - axis lo scrollling avvakunda use ayydhi */
   overflow-x: hidden;
   /* to use a variable var(variable name ) */
   background-color: var(--black);
   color: var(--white);
}

.side-bar{
   /* inka a side bar postion change avvadhu ekkada aithe vuntundhi oo akkade fix gah vuntundhi  */
   position: fixed;
   /* 15% ante 15% of its parent class ani ardhamm so in this case its 15% of the body and html class */
   width: 15%;
   /* ikkada height of the side bar is fixed so just use % */
   height: 100vh;
   /* top lo vunna extra space ni remove cheyyyadaniki  */
   top:0px;
   /* same as top */
   left: 0px;
   border-right: 1px solid var(--grey);
   padding: 1rem;
   margin-right: 1rem;
   justify-content: space-between;
   /* align-items: center ; */
   display: flex;
   flex-direction: column;

}

.less-than-600px{
   display: none;
}

.top-part-side-bar{
   display: flex;
   flex-direction: column;
   margin-top: 2rem ;

   margin-right: 1em;
   justify-content:space-between ;
   color: var(--white);
   
}

.home{
   margin-top: 0.5em;
   padding: 0.6em;
  

   display: flex;
   text-decoration: none;
   
}

a{
      text-decoration: none;
      color: var(--white);
      font-weight: 400;
      font-size: 0.8rem;
      padding-top: 0.5em;

}

.icons{
   width: 1.5rem;
   padding-right:1em ;
}

.bottom-part-side-bar{
   margin-bottom: 3rem;
}

.image-logo{
   margin-bottom: 2rem;
}
.image-logo-2{
   display: none;
}

@media screen and (Max-width:900px) {

   .home a{
      display: none;
   }

   .image-logo{
      display: none;
   }

   .image-logo-2 {
      display: block;
      width: 20px;

   }
   .small-logo{
      width: 20px;
       padding: 0.7em;
       margin-top: 0.5em;
       padding-bottom: 1.5rem;
       margin-bottom: 0.1rem;
   }
   .side-bar{
      width: 6%;
      
   }

   .less-than-600px{
      display: none;
   }

}

@media screen and (max-width:600px) {

   
   .top-part-side-bar{
      display: none;
   }

   .bottom-part-side-bar{
      display: none;
   }

   .icons{
      padding-right: 0rem;;
   }
   .side-bar{
      border: none;
      
   }
.less-than-600px{

   display: block;
   display: flex;
   position: fixed;
   justify-content: space-around;
   bottom: 0;
   left: 0;
   height: 1.5rem;
   width: 100%;
   border-top: 1px solid var(--light-grey);
   margin-bottom: 1.5rem;
   padding-bottom: 0.5rem;


}
.home{
   display: block;
   justify-content: space-between;
   
}


}

.home-page{
   margin-left: 1rem;
   overflow-x: hidden;
}

 